body {
    background-color: #FFFAFA;
    font-family: 'Roboto', sans-serif;
    color: #778899;
    height: 100vh;
}

.techblog-nav {
    background-image: linear-gradient(#4682B4, #708090);
}

.navbar-brand {
    font-size: xx-large;
}

.custom-toggler.navbar-toggler {
    border-color: #DAA520;
    border-width: medium;
} 

main {
    padding-top: 7rem;
    padding-bottom: 8rem;
    width: 100vw;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none;
    color: #DAA520;
}

a:link span, a:visited span, a:hover span, a:active span { 
    color: #1E90FF;
}

h2, h3, h4, h5 {
    color: #B0E0E6;
}

.my-articles {
    background-image: linear-gradient(#4682B4, #708090);
    padding: 20px;
    border-radius: 3px;
}

.card {
    background: #FFFAFA;
    opacity: 1;
    color: #778899;
}

.card-header {
    color: #DAA520;
    background-color: #696969;
}

.card-header:hover {
    background-image: linear-gradient(#4682B4, #708090);
}

.card-body {
    color: #778899;
}

.card:hover {
    transform: scale(1.003);
    border-color: #FFFAFA;
    opacity: 1;
}

.card.view-card:hover {
    opacity: 1;
}

.signinForm.label {
    color: #696969;
}

.comments {
    background-color: #FFFAFA;
    border: 1px solid #696969;
    padding: 1em;
}

.comment {
    border-radius: 10px;
    padding: 1em;
    background-color: #FFFAFA;
}

.edit-btns-comments {
    background-color: #FFFAFA;
    color: #F08080;
    border-radius: 10px;
    text-align: end;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    color: #FFFAFA;
    background-color: #F08080;
    border: .1em solid v#F08080;
    border-radius: 10px;
    margin: .5em 1em 1em 0;
    cursor: pointer;
}

.btn-primary:hover {
    color: #FFFAFA;
    background-color: #F08080;
    border: .1em solid #F08080;
    transform: scale(1.04);
}

.btn-warning, .btn-warning:active, .btn-warning:visited {
    color: #FFFAFA;
    background-color: #1E90FF;
    border: .1em solid #1E90FF;
    border-radius: 10px;
    margin: .5em 1em 1em 0;
    cursor: pointer;
}

.btn-warning:hover {
    background-color: #1E90FF;
    border: .1em solid #1E90FF;
    transform: scale(1.04);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 3pt solid #F08080;;
}

.footer p {
    padding-top: 5px;
    color: #DAA520;

}

.cmb-contact {
    color: #DAA520;
}

@media screen and (max-width: 281px){
    main {
    padding-top: 8rem;
}
}