body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #808080;
    height: 100px;
}

.techblog-nav {
    background-image: linear-gradient(lightblue, lightgreen);
}

.navbar-brand {
    font-size: xx-large;
}

.custom-toggler.navbar-toggler {
    border-width: medium;
} 

main {
    padding-top: 100px;
    padding-bottom: 120px;
    width: 100px;
}

a:link,
a:visited,
a:hover,
a:active { 
    text-decoration: none;
    color: #808080;
}

a:link span,
a:visited span,
a:hover span,
a:active span { 
    color: #87cefa;
}

h2,
h3, 
h4, 
h5 {

    color: #daa520;
}

.my-articles {
    background-image: linear-gradient(lightblue, lightgreen);
    padding: .5em;
    border-radius: 5px;
}

.card {
    background-color: #f5f5f5;
    opacity: 0.95;
    box-shadow: 5px 10px 25px rgb(100, 68, 32);
    color: #808080;
}

.card:hover {
    transform: scale(1.003);
    background-color: #f5f5f5;
    opacity: 1;
    box-shadow: 10px 15px 25px #303030;
}

.card-body {
    color: #808080;
}

.card.view-card:hover {
    opacity: 1;
}

.card-header {
    color: #808080;
    background-color: #808080;
}

.card-header:hover {
    background-image: linear-gradient(var(--c-dslategray), var(--c-ddslategray));
}

.signinForm.label {
    color: var(--c-dslategray)
}

.comments {
    background-color: var(--c-white);
    border: 1px solid #f5f5f5;
    padding: 1em;
}

.comment {
    border-radius: 10px;
    padding: 1em;
    background-color:#f5f5f5;
}

.edit-btns-comments {
    background-color: #f5f5f5;
    color: var(--c-raspberrysorbet);
    margin: -2em 0 0 0;
    padding: 0 0 0 1em;
    border-radius: 10px;
    text-align: end;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    color: #f5f5f5;
    background-color: var(--c-raspberrysorbet);
    border: .1em solid var(--c-draspberrysorbet);
    border-radius: 10px;
    box-shadow: 8px 10px 10px var(--c-shadow);
    margin: .5em 1em 1em 0;
    cursor: pointer;
}

.btn-primary:hover {
    color: #f5f5f5;
    background-color: var(--c-ddraspberrysorbet);
    border: .1em solid var(--c-dddraspberrysorbet);
    box-shadow: 8px 15px 10px var(--c-shadow);
    transform: scale(1.04);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
    color: #f5f5f5;
    background-color: var(--c-dmarigold);
    border: .1em solid var(--c-ddmarigold);
    border-radius: 10px;
    box-shadow: 8px 10px 10px var(--c-shadow);
    margin: .5em 1em 1em 0;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--c-dmarigold);
    border: .1em solid var(--c-ddmarigold);
    box-shadow: 8px 15px 10px var(--c-shadow);
    transform: scale(1.04);
}

.btn-warning,
.btn-warning:active,
.btn-warning:visited {
    color: v#f5f5f5;
    background-color: var(--c-frenchblue);
    border: .1em solid var(--c-dfrenchblue);
    border-radius: 10px;
    box-shadow: 8px 10px 10px var(--c-shadow);
    margin: .5em 1em 1em 0;
    cursor: pointer;
}

.btn-warning:hover {
    background-color: var(--c-dfrenchblue);
    border: .1em solid var(--c-ddfrenchblue);
    box-shadow: 8px 15px 10px var(--c-shadow);
    transform: scale(1.04);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 3pt solid var(--c-raspberrysorbet);
}

.footer p {
    padding-top: 1em;
    color: #808080;

}

.cmb-contact {
    background-image: linear-gradient(lightblue, lightgreen);
    color: #808080;
}

.cmb-madeforyou {
    background-color: var(--c-raspberrysorbet);
    color: #808080;
}

/*MediaQueries*/
@media screen and (max-width: 281px){
    main {
    padding-top: 8rem;
}
}